:root {
    --cor-primaria-500: hsl(158, 36%, 37%);
    --cor-primaria-700: hsl(158, 42%, 18%);

    --cor-neutra-black:hsl(212, 21%, 14%);
    --cor-neutra-grey: hsl(228, 12%, 48%);
    --cor-neutra-cream: hsl(30, 38%, 92%);
    --cor-nuetra-white: hsl(0, 0%, 100%);
}