:root {
    --cor-blue-50: hsl(225, 100%, 98%);
    --cor-blue-100: hsl(225, 100%, 94%);
    --cor-blue-700: hsl(245, 75%, 52%);
    --cor-blue-950: hsl(223, 47%, 23%);

    --cor-gray-200: hsl(225, 17%, 59%);
    --cor-gray-600: hsl(224, 23%, 55%);
    --cor-white: hsl(0, 0%, 100%);
}