@media(max-width: 1024px) {
    .container {
        height: 100dvh;
    }

    .container-top {
        gap: 0;
        margin-left: 20px;
    }

    .rating-item-2 {
        margin-right: 40px;
    }

    .rating-item-3 {
        margin-left: 80px;
        margin-right: 20px;
    }

    .card-customers {
        width: 300px;
    }

    .customers-comments {
        margin-top: 20rem;
    }
}

@media(max-width: 768px) {
    .container-top {
        gap: 0rem;
        margin-left: 20px;
    }

    .rating-item-1 {
        margin-right: 10px;

    }
    
    .rating-item-2 {
        margin-left: 0px;
        margin-right: 10px;
    }
    
    .rating-item-3 {
        margin-left: 0px;
        margin-right: 10px;
    }

    .icon-star {
        background: 
        url('../images/icon-star.svg') no-repeat 0 50%,
        url('../images/icon-star.svg') no-repeat 18px 50%,
        url('../images/icon-star.svg') no-repeat 35px 50%,
        url('../images/icon-star.svg') no-repeat 52px 50%,
        url('../images/icon-star.svg') no-repeat 70px 50%;
    }

    .rating-item .reviews {
        padding-right: 0px;
    }

    .customers-comments {
        margin-top: 15rem;
        gap: 10px;
    }

    .card-customers {
        width: 230px;
    }

}

@media(max-width: 480px) {
    .container-top {
        display: flex;
        flex-direction: column;
    }

    .intro h1 {
        text-align: center;
        margin-left: 40px;
    }

    .intro p {
        text-align: center;
        padding: 0 40px ;
        margin: 50px 0;
    }

    .rating-item {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .icon-star {
        background: 
                url('../images/icon-star.svg') no-repeat 0 50%,
                url('../images/icon-star.svg') no-repeat 20px 50%,
                url('../images/icon-star.svg') no-repeat 40px 50%,
                url('../images/icon-star.svg') no-repeat 60px 50%,
                url('../images/icon-star.svg') no-repeat 80px 50%;
    background-size: 15px 15px;
    }

    .customers-comments {
        display: flex;
        flex-direction: column;
    }

    .customers-comments {
        gap: 20px;
        margin-top: 10rem;
    }

    .card-customers {
        width: 400px;
    }
}

@media(max-width: 320px) {
    .intro h1 {
        margin-left: 0px;
    }

    .card-customers {
        width: 280px;
    }
}